mixin article(article)
	article(class="w-100 w-50-m w-33-l mb3 mb5-ns pa2")
		header
			small(class="i gray") 
				| #{article.category}
			h2.mt1
				a(href="#") #{article.title}
			p(class="subheading f6-l")
				| Tipo: 
				span
					| #{article.type}
					if article.style
						= ' - ' + article.style
				br
				| Fecha: 
				span #{article.date}
				br
				| Author: 
				span #{article.author}
		p #{article.excerpt}

mixin navigation(categories)
	each category in categories
		li(class="mb3")
			div(class="menu-item" data-catname=category.name)
				span(class="f5 gray mr2") &#9656;
				span= category.name
			ul(class="mt2 pl4 dn subcategory")
				each subcategory in category.subcategories
					li(class="list mb2 submenu-item")
						a(href='category.html?name='+subcategory)= subcategory

mixin filterBar(inSearch)
	div#filter-bar(class="flex justify-between flex-wrap f6 pt3 pb3 bb bt mb4")
		h2#filter-heading(class="mt0 mb1 w-100")
			| Filtros
			span(class="w-10 f5 gray ml2") &#9666;
		form#filters(action="#" name="filter" class=" justify-between w-100 flex-wrap pl2 dn")
			div#filter-date-group(class="flex flex-wrap w-33 w-33-l")
				label(for="#filter-date" class="w-100") Fecha
				select#filter-date(name="date")
					option(value="0") Mas nuevo
					option(value="1") Mas antiguo
			div#filter-type-group(class="flex flex-wrap w-25 w-33-l")
				label(for="#filter-type" class="w-100") Tipo
				select#filter-date(name="type")
					option(value="Ensayo") Ensayo
					option(value="Informe") Informe
			if inSearch
				div#filter-category-group(class="flex flex-wrap w-33 w-33-l")
					label(for="#filter-category" class="w-100") Categoria
					input#filter-category(type="text" name="category" class="w-100")